<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [342, 332]
    Dashing.numColumns = 5
  });
</script>

<% content_for :title do %>FHEM Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wz_Balkontuer" data-view="Text" data-title="Wohnzimmer Balkont&uuml;r" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ku_Balkontuer" data-view="Text" data-title="K&uuml;che Balkont&uuml;r" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bad2_dachfenster" data-view="Text" data-title="Dachfenster Bad" style="background-color:#96bf48;"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wz_Thermostat_Weather" data-view="Number" data-title="Wohnzimmer Temperatur" style="background-color:#FFCC33;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="wz_Thermostat_Weather_humidity" data-view="Number" data-title="Wohnzimmer Luftfeuchtigkeit" style="background-color:#FFCC33;"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sz_Heizung1_Clima" data-view="Number" data-title="Schlafzimmer" style="background-color:#FFCC33;"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="ki_Heizung1_Clima" data-view="Number" data-title="Kinderzimmer" style="background-color:#FFCC33;"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wz_Heizung1_Clima_valve" data-view="Meter" data-title="Wohnzimmer Tür" data-min="0" data-max="100" style="background-color:#0066CC;"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="wz_Heizung2_Clima_valve" data-view="Meter" data-title="Wohnzimmer Fenster" data-min="0" data-max="100" style="background-color:#0066CC;"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sz_Heizung1_Clima_valve" data-view="Meter" data-title="Schlafzimmer" data-min="0" data-max="100" style="background-color:#0066CC;"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="ki_Heizung1_Clima_valve" data-view="Meter" data-title="Kinderzimmer" data-min="0" data-max="100" style="background-color:#0066CC;"></div>
    </li>
  </ul>
</div>
